<div class="jumbotron text-center" ng-controller="MainController">
    <h2>{{ tagline }}</h2>
    <br>
    <div class="col-md-2 col-sm-3 text-center">
        <a class="story-title" href="#"><img alt="" src="/images/Owner.jpg" style="width:150px;height:180px" class="img-circle"></a>
    </div>
    <div class="col-md-10 col-sm-9">
        <p align="left">
            A <b class="marketText">good book, a social gathering</b> and some time to read, pleases most book lovers, but we offer so much more for readers. Our book club offers a meeting place, a wide range of book reviews and book recommendations. Did we mention the <b class="marketText">coffee !!.</b> We have exotic coffee blends with a stirrer for the soul.  Also, we have many interactive discussions and polls about books. At this book club you can find information and discussions about classic books as well as new releases, both in the old solid form and the relatively new eBook form (electronic book). Network, meet people and share common interests!!. Happy reading, and, oh!, enjoy the world class coffee.
        </p>
        <div class="row">
            <div class="col-xs-9">
                <h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
            <div class="col-xs-3"></div>
        </div>

    </div>
</div>


</div>