<html>
    <head>
        <title>My EJS</title>
    </head>
    <body>
        <h1><%=titleString%></h1>
        <ul>
            <% for (var i=0; i < jerseys.length; i++) { %>
            <li>Hello <%=jerseys[i]%></li>
            <%}%>
        </ul>
    </body>
</html>